

.row {
    margin-right: 0;
    margin-left: 0;
}
#header .container{
    padding: 0;
}
.about .container {
    padding: 0;
}

.card {
    border: 0;
    border-radius: 0;
}
.btn {
    border-radius: 0;
    width: 92px;
    height: 24px;
    padding: 5px;
    font-size: 10px;
    line-height: 1;
}


.circle-gr {
    color: rgb(210,210,210);
}

.circle-dg{
    color: rgb(174,174,174);
}
.mb-0 {
    margin-bottom: 0;
}

.card img {
    border-radius: 0;
}



#header .list-group-item {
    padding: 0;
}

body .list-group-item a {
    color: #a1a1a1;
}

#header .col-sm-6 ul {
    border-bottom:none;
}

body .list-group-item {
    border: none;
    list-style-type: none;
}
body .list-group-item a {
    text-decoration: none;
}





 /* header start  */
 .container-sm, .container-md, .container-lg, .container-xl {
     margin: 15px auto;
     margin-top: 0;
 }

#header .col-sm-4:last-child .plr{
    padding: 0;
}

.col-sm-7 .navbar {
    line-height: 2;
}

#header .fas.fa-search {
    line-height: 0;
    padding-left: 0;
 }



#header .col-sm-10 ul.nav.nav-tabs{
    margin-left: 0;
}
 .nav-item.position-absolute {
     top: 39%;
     right: 0%;
 }

 .navbar.navbar-expand-lg.navbar-light{
     padding: 0;
     margin: 3% 0;
 }

 .collapse.navbar-collapse {
     padding-left: 0;
 }
 .nav-link {
    color: rgb(59,59,59);
    font-size: 1.5rem;
}


.dropdown-toggle::after {
    font-size: 1.3rem;
    border-bottom: 0px solid;
    vertical-align: 0;
}

/* header end  */


/* blog-list start  */


.blog-list .search .list-group-item {
    background-color: #f6f6f6;
    color: rgb(186,186,186);
}

/* blog-list end  */


/* search-bar start  */
.search-bar {
    background-color: rgb(237,237,237);
}

.search-bar .home ul {
    line-height: 2;
}
.search-bar .home ul li a{
    color: rgb(110,110,110);
    font-size: 16px;
    padding-left: 0;
}
.search-bar .home {
    width: 33.333333%;
}
.search-bar .th {
    width: 33.333333%;
    text-align: center;
}
.search-categories {
    width: 33.333333%;
}
.category {
    width: 33%;
}
.category ul {
    width: 100%;
}
.category ul > li:last-child {
    padding-right: 0;
    width: 100%;
}
.search-bar .th {
    line-height: 3;
}
.search-bar .th > i {
    color: rgb(110,110,110);
}
.search-categories ul li{
    background-color: rgb(237,237,237);
    color: rgb(110,110,110);
}
.search ul li:first-child {
    padding-right: 7%;
}
.search ul li:last-child {
    padding-left: 7%;
}

.category ul li:first-child {
    padding-right: 7%;
}
.category ul li:last-child {
    padding-left: 7%;
}




/* search-bar end  */


/* blog-detail start  */
.blog-detail {
    margin-top: 3%;
}

.blog-detail .card{
    width: 100%;
}
.blog-detail .card img {
    width: 100%;
    height: 570px;
}

.blog-detail .card {
    position: relative;
}

.blog-detail .card-inside {
    position: absolute;
    left: 0%;
    top: 10%;
    width: 100%;
    padding: 0 5%;
}
.blog-detail .date {
    width: 4rem;
    height: 5rem;
    background-color: rgb(255,255,255);
}
.blog-detail .date .day,
.blog-detail .date .month{
    height: 50%;
    text-align: center;
}
.blog-detail .date .day {
    font-size: 2rem;
    letter-spacing: 2px;
}
.blog-detail .date .month{
    font-size: 1.2rem;
}
.blog-detail .interaction {
    width: 6rem;
    height: 2rem;
    color: rgb(143,143,143);
}
.blog-detail .card-columns{
    width: 92%;
    margin: 0 auto;
}
.blog-detail .card-columns .first,
.blog-detail .card-columns .first img {
    width: 260px;
    height: 260px;
    margin-bottom: 1.5rem;
}

.blog-detail .card-columns .second,
.blog-detail .card-columns .second img {
    width: 260px;
    height: 175px;
}
.blog-detail .card-columns .third,
.blog-detail .card-columns .third img {
    width: 260px;
    height: 200px;
    margin-bottom: 1.5rem;
}
.blog-detail .card-columns .forth,
.blog-detail .card-columns .forth img {
    width: 260px;
    height: 190px;
}
.blog-detail .card-columns .fifth,
.blog-detail .card-columns .fifth img {
    width: 260px;
    height: 350px;
}
.blog-detail .card:last-child .row {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(243,243,243);
}

.blog-detail .card:last-child .row .col-md-3 {
    padding: 2rem;
    padding-right: 0;
}
.blog-detail .card:last-child .row .col-md-9 {
    margin: 1% 0;
    padding-left: 0;
}
.blog-detail .card:last-child .row .col-md-9 .card-body{
    padding: 2.2rem 1.25rem;
}
.blog-detail .card:last-child .row img {
    width: 146px;
    height: 146px;
}
.blog-detail .card:last-child .row .col-md-9 .card-body h5 {
    margin-bottom: 1%;
    font-size: 18px;
}
.blog-detail .card:last-child .row .col-md-9 .card-body p {
    margin-bottom: 2%;
    color: gray;
    font-size: 14px;
}
.blog-detail .card:last-child .row .col-md-9 .card-body .list-group-item{
    background-color: rgb(243,243,243);
    padding: 0;

}

.blog-detail .card:last-child .row .col-md-9 .card-body .list-group-item a{
    color: black;
}
.blog-detail .card .col-md-9 .twitter {
    margin-left: 3%;
    margin-right: 3%;
}
.blog-detail .ideas {
    height: 103rem;
}
.blog-detail .ideas .card-body {
    position: absolute;
    top: 31%;
    background-color: white;
    width: 90%;
    left: 5%;
    padding: 4%;
}
.blog-detail .ideas .card-body p {
    font-size: 12px;
    letter-spacing: 0.5px;
}
.blog-detail .ideas .card-body h5 {
    letter-spacing: 1px;
    margin-bottom: 0;
}
.blog-detail .message ul {
    margin-bottom: 3%;
}

.blog-detail .message ul li {
    padding: 0;
    padding-top: 1%;
    padding-right: 2%;
}
.blog-detail .message ul li i,
.blog-detail .message ul li div {
    line-height: 2;
    font-size: 12px;
    color: rgb(73,73,73);
}
.blog-detail .message ul li i {
    padding-right: 5px;
}
.blog-detail .ideas .card-body p {
    margin-bottom: 0;
}
.blog-detail .ideas .card-body p.last {
    margin-top: 1rem;
}
.blog-detail .ideas .card-body p.second {
    margin-bottom: 3rem;
    margin-top: 1rem;
}
.blog-detail .card-columns {
    margin-bottom: 4rem;
    margin-top: 1rem;
}
.blog-detail .card:last-child {
    margin-bottom: 3rem!important;
}


/* blog-detail end  */

/* comments start  */
.comments {
    margin-bottom: 5%;
}
.comments .row {
    width: 80%;
    margin: 0 auto;
}
.comments .row div:first-child {
    width: 100%;
}
.comments h4 {
    line-height: 3rem;
}

.comments .col-lg-1 img {
    width: 65px;
    height: 65px;
}
.comments .col-lg-11 .card-body {
    padding: 0;
}
.comments .replyname ul{
    padding:0 0 2% 2%;
}
.comments .replyname  li{
    padding: 0;
    color: rgb(23,23,23);
}
.comments .replycontent {
    padding: 0 0 4% 0;
    margin-left: 2%;
    border-bottom: 1px solid rgb(237,237,237);
}
.comments .replycontent p{
    color: rgb(133,133,133);
}
.comments ul  .second-grade {
    width: 92%;
    margin-left: 8%;
}
.comments ul  .second-grade li{
    padding-right: 0;
}
.comments ul  .second-grade .col-lg-1 > img{
    width: 65px;
    height: 65px;
}
.comments ul  .second-grade .col-lg-11 {
    padding-left: 2%;
}
.comments .col-lg-11 {
    padding-left: 1%;
}




/* comments end  */


/* leave comment start */

.leave_comment .row {
    width: 80%;
    margin: 0 auto;
}
.leave_comment .row:last-child form {
    width: 100%;
}
.leave_comment h4 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-bottom: 5%;
    color: rgb(73,73,73);
}
.leave_comment form input{
    width: 98%;
}

.leave_comment form input,
.leave_comment form textarea {
    border: none;
    background-color: rgb(247,247,247);
    color: rgb(147,147,147);
}
.leave_comment form textarea {
    width: 99.2%;
}
.leave_comment .btn {
    border: none;
    background-color: rgb(247,247,247);
    color: rgb(147,147,147);
    width: 65px;
    height: 35px;
}




/* leave comment end  */

/* footer  */

#footer {
    background-color: #F6F6F6;
    margin: 5% 0;
}
#footer .contact {
    padding-top: 4%;
    padding-bottom: 4%;
}
#footer .support {
    padding: 2% 0;
    padding-left: 15px;
    padding-right: 15px;
}
#footer .support .col-sm-3,
#footer .support .col-sm-2,
#footer .support .col-sm-4{
    padding: 0;
    border-bottom: 1px solid rgb(224,224,224);
    padding-bottom: 1rem;
}
#footer .support .col-sm-4{
    padding-left: 3%;
}

#footer .support h5,
#footer .support p{
    margin: 0;
}

#footer .support h5 {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(53,53,53);
    
}

#footer .support p {
    font-size: 0.2rem;
    color: rgb(69,69,69);
    font-weight: 300;
    letter-spacing: 1px;
}
#footer .support i {
    font-size: 2.5rem;
    line-height: 2;
    padding-right: 5%;
    color: rgb(131,129,130);
}

#footer .contact li {
    background-color: #f6f6f6;
}
#footer .contact .col-sm-2,
#footer .contact .col-sm-3 {
    padding: 0;
}

#footer .contact .col-sm-7 li {
    font-size: 0.8rem;
    color: rgb(134,134,134);
    padding-top: 0;
    padding-bottom: 0;
}
#footer .contact .col-sm-7 li:first-child{
    padding: 1.25rem;
}

#footer .contact .col-sm-7 .list-group-item.address{
    padding-top: 5%;
    padding-bottom: 5%;
}

#footer .contact .col-sm-7 .list-group-item.address i{
    width: 5%;
    margin-right: 3%;
    line-height: 1.5;

}

#footer .contact .col-sm-7 .list-group-item.address div {
    width: 90%;
    margin-left: 9%;
}

#footer .contact .col-sm-7 .list-group-item.phone a,
#footer .contact .col-sm-7 .list-group-item.email a{
    margin-left: 2%;
}

#footer .contact .col-sm-4 li.disabled {
    height: 67px;
}

#footer .contact .col-sm-4 li{
    padding-top: 0;
}
#footer .contact .col-sm-4 li:first-child {
    padding-top: .75rem;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

#footer .contact .col-sm-4.first  {
    padding-left: 2rem;
}
#footer .contact .col-sm-5 div.sign {
    padding: 0.75rem 1.25rem;
    text-align: right;
}

#footer .contact .col-sm-5 div.sign a {
    text-decoration: none;
    color: rgb(87,87,87);
    letter-spacing: 1px;
}

#footer .contact .col-sm-5 .input-group {
    padding: 1.25rem;
    padding-left: 0;
}

#footer .contact .form-control {
    border-bottom-left-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
    height: 2.5rem;
    width: 4rem;
    border: none;
    font-size: 0.5rem;
    letter-spacing: 1px;
}
#footer .contact .input-group-text{
    border-bottom-right-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    border: none;
    background-color: rgb(105,105,105);
    font-size: 0.5rem;
    color: white;
    letter-spacing: 1px;
}
#footer .contact .col-sm-5 h3 {
    text-align: right;
    font-size: 1.1rem;
    padding: 1.25rem;
    font-weight: 300;
    letter-spacing: 1px;
    padding-bottom: 0.5rem;
}

#footer .contact .col-sm-5 li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
}
#footer .contact .col-sm-5 li a i{
    color: rgb(134,134,134);
}

/* copyright  */

#copyright .copyright{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.copyright div {
    color: #868686;
}
.copyright div b {
    color: black;
}




@media (max-width: 767px) { 
    html {
        max-width: 100%;
    }
    #header img{
        width: 116px;
    }
    #header .col-sm-2:last-child {
        line-height: 3.7;
        padding-left: 0;
        position: absolute;
        left: 42%;
    }
    #header .col-sm-4:first-child div {
        padding-left: 0;
    }
    #header .col-sm-10 ul.nav.nav-tabs {
        margin-left: 74%;
        display: inline-flex;
        width: 7rem;
        display: list-item;
        padding-right: 0;
    }
    #header .col-sm-4 i {
        font-size: 1rem;
    }
    #header .col-sm-6 ul{
        display: inline-block;
        margin-left: 62%;
    }
    .icon_shopping {
        top: -2%;
    }
    #header .col-sm-2:last-child a {
        padding-left: 11px;
        padding-right: 11px;
    }
    #header img{
        width: 60%;
    }
    .copyright img {
        width: 40%;
    }
    .navbar.navbar-expand-lg.navbar-light {
        padding: 0;
        margin: 7.2;
        height: auto;
        margin: 9% 0px;
    }
    #header .col-sm-4 a:last-child{
        text-decoration: none;
        color: rgb(75,75,75);
        letter-spacing: 2px;
        font-size: 0.2rem;
    }
    #header .col-sm-4 {
        line-height: 2;
        padding-right: 0;
        padding-left: 3%;
    }
    #logo{
        margin-top: 5%;
    }
    .collapse.navbar-collapse {
        padding-left: 0;
    }

    #header #navbarSupportedContent ul {
        display: inline-block;
        margin-top: 2rem;
        border-bottom: 0;
    }
    #header .col-sm-4 a:last-child {
        text-decoration: none;
        color: rgb(75,75,75);
        letter-spacing: 0;
        font-size: 1rem;
        padding: 0;
        line-height: 1.4;
    }

    #header .col-sm-4:first-child a {
        font-size: 0.5rem;
        padding: 9px 0;
    }
    #header .list-group .price-item a{
        padding: 15px 0;
    }
    
    #header .col-sm-2 {
        padding-right: 0;
    }
    #header .col-sm-2 img {
        width: 100%;
    }
    #header .col-sm-7 ul {
        padding: 10px 0;
    }

    #header .col-sm-7 ul .one, .two, .three {
        width: 100%;
        line-height: 1.5;
    }


    #header .nav-link {
        padding: 0;
        font-size: 1rem;
    }
    #header .navbar li{
        padding: 5% 0;
    }
  
    #header .col-sm-7 ul .four, .five, .six {
        width: 100%;
    }
    #header .col-sm-7 ul li a {
        padding: 0 1rem;
    }
    #header .col-sm-2 #logo {
        line-height: 5;
    }
    #header .col-sm-3 {
        padding-right: 0;
    }
    #header .col-sm-3 ul {
        padding-right: 0;
        margin-top: 21px;
    }
    #header .col-sm-3 ul li {
        width: 120%;
        font-size: 14px;
        font-weight: 500;
    }
    .icon_shopping {
        left: 0;
        line-height: 3;
        font-size: 1.5rem;
    }


    #header .list-group, .price-item {
        padding-left: 0;
        width: 100%;
    }
    
    #header .list-group, .price-item .item {
        padding-right: 0;
        padding-top: 3%;
        line-height: 2;
        margin: 0 auto;
        flex-flow: column;
    }
    #header .col-sm-10 nav.navbar {
        margin: 1rem 1rem;
    }

    /* header end  */
    
    /* blog-list start  */
    
    .blog-list {
        margin-bottom: 0;
        height: auto;
        background-color: #f6f6f6;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .blog-list .row div {
        margin: 0 auto;

    }
    .blog-list .row div h1 {
        font-weight: 200;
        text-transform: uppercase;
        font-size: 1.3rem;
        letter-spacing: 0px;
    }





    /* blog-list end  */

    /* search-bar start */

    .search-bar .home,
    .search-bar .th,
    .search-bar .search-categories {
        width: 100%;
    }
    .search-bar .th{
        text-align: center;
    }
    .search-bar .search-categories{
        display: flex;
        justify-content: center;
    }





    /* search-bar end */

    /* blog-detail start  */
    .blog-detail .ideas {
        height: 150rem;
    }
    .blog-detail .card img {
        height: 300px;
    }
    .blog-detail .ideas .card-body {
        top: 14%;
    }
    .blog-detail .ideas .card-body {
        top: 10%;
    }
    .blog-detail .card-columns {
        display: table;
        text-align: center;
    }
    .blog-detail .card:last-child .row .col-md-3 {
        padding: 2rem;
        padding-right: 2rem;
        display: flex;
        justify-content: center;
    }
    .blog-detail .card:last-child .row .col-md-9 .card-body {
        padding-top: 0;
    }
    .comments .col-lg-11 {
        padding-left: 2%;
    }

    .comments ul .second-grade .col-lg-11 {
        padding-left: 4%;
    }





    /* blog-detail end  */

    /* leave_comment start  */

    .blog-detail .card-inside {
        top: 2%;
    }
        
        
        
        
        
    /* leave_comment end  */

  
/* footer start  */

    #footer .contact ul li .fa-map-marker-alt{
        color: #a1a1a1;
    }

/* footer end  */
    
}


@media (min-width: 768px) and (max-width :991px) { 
    /* header start  */
    html {
        width: 100%;
    }
    #header .col-sm-2 {
        padding-right: 0;
    }
    #header .col-sm-2:last-child {
        position: absolute;
        left: 43%;
    }
    #header .col-sm-2 img {
        width: 40%;
    }
    #logo {
        padding-top: 5%;
    }
    #header i {
        font-size: 1.5rem;
        
    }
   
    #header .col-sm-7 {
        padding-left: 0;
        padding-right: 0;
    }
    #header .col-sm-7 ul {
        padding-left: 0;
        padding-right: 0;
    }
    #header .col-sm-7 ul a {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    #header .col-sm-3 {
        padding-left: 0;
        padding-right: 0;
    }
    #header .col-sm-8 {
        padding-right: 15px;
        line-height: 1;
    }
    #header .col-sm-3 i{
        left: 13%;
        line-height: 2.3;
        font-size: 1.5rem;
    }
    #header .col-sm-4:first-child div {
        padding-left: 0;
        text-align: center;
    }
    .tel {
        display: inline-block;
        width: 100%;
    }
    #header #navbarSupportedContent ul {
        display: inline-block;
        margin-top: 10%;
        border-bottom: 0;
    }
    #header .col-4 {
        line-height: 2;
        margin-top: 2%;
    }
    #header .col-sm-6 ul{
        display: inline-block;
        margin-left: 66%;
    }
    #header .col-sm-4 a:last-child {
        text-decoration: none;
        color: rgb(75,75,75);
        letter-spacing: 1px;
        font-size: 1.5rem;
    }
    #header .col-sm-4:first-child a{
        font-size: 0.7rem;
    }
    #header .list-group li {
        width: 200px;
    }
    #header .col-sm-2:first-child a:last-child {
        text-decoration: none;
        color: rgb(75,75,75);
        letter-spacing: 2px;
        font-size: 0.2rem;
    }
    #header .col-sm-8 ul.nav.nav-tabs {
        border-bottom: none;
        display: inline-block;
        margin-left: 80%;
    }
    .navbar.navbar-expand-lg.navbar-light {
        padding: 0;
        margin: 7.2% 0;
    }
    #header .col-sm-7 ul .one, .two, .three {
        width: auto;
    }
    #header .col-sm-7 ul .four, .five, .six {
        width: auto;
    }
    #header .col-sm-2 #logo {
        line-height: 4;
    }
    .icon_shopping {
        left: 5%;
        line-height: 2;
        font-size: 1.5rem;
    }
    #header .col-sm-10 nav.navbar {
        margin: 1rem 1rem;
        margin-right: 0;
    }
    #header .col-sm-10 ul.nav.nav-tabs {
        margin-left: 80%;
        display: inline-flex;
        width: 7rem;
        display: list-item;
        padding-right: 0;
    }
    .shopping-cart {
        width: 30%;
        display: inline-grid;
    }
    .price-item {
        padding-left: 24%;
        font-size: small;
    }
    #header .list-group {
        padding-left: 0;
        line-height: 2.5;
    }

    /* header end  */

    /* blog-list start  */
    .blog-list {
        margin-bottom: 0;
        height: auto;
        background-color: #f6f6f6;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .blog-list .row div {
        margin: 0 auto;

    }
    .blog-list .row div h1 {
        font-weight: 200;
        text-transform: uppercase;
        font-size: 2rem;
        letter-spacing: 2px;
    }





    /* blog-list end  */

    /* search bar start  */

    

    .search-bar .search {
        width: 45%;
    }
    .search-bar .category {
        width: 55%;
    }



    /* search bar end  */

    /* blog-detail start  */

    .blog-detail .card img {
        width: 100%;
        height: 440px;
    }
    .blog-detail .ideas .card-body {
        top: 22%;
    }
    .blog-detail .card-columns .card  {
        width: 100%;
        height: 100%;
    }
    .blog-detail .card-columns .card  > img{
        width: 100%;
        height: 100%;
    }
    .blog-detail .card-columns .first, .blog-detail .card-columns .first img {
        margin-bottom: 0.7rem;
    }
    .blog-detail .card-columns .third, .blog-detail .card-columns .third img {
        margin-bottom: 0.7rem;
    }
    .blog-detail .ideas {
        height: 87rem;
    }
    .blog-detail .ideas .card-body {
        top: 26%;
    }
    .blog-detail .card .row  .col-md-3 {
        display: flex;
        align-items: center;
    }
    .blog-detail .card .row  .col-md-3 img {
        width: 106px;
        height: 106px;
    }
    .blog-detail .card:last-child .row .col-md-9 .card-body {
        padding: 0.5rem 1.25rem;
    }

    .blog-detail .card-inside {
        top: 3%;
    }



    /* blog-detail end  */

    /* comments start  */

    .comments {
        margin-top: 5%;
    }





    /* comments end  */

    /* leave_comment start  */

    
    
    
    
    
    
    /* leave_comment end  */

    #footer .contact .input-group-text {
        border-bottom-right-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
        border: none;
        background-color: rgb(105,105,105);
        font-size: 0.5em;
        color: white;
        letter-spacing: 0px;
        padding: 1px;
    }
 


  /* copyright start  */
    .copyright img {
        width: ;
    }
/* copyright end  */
    
 }


@media (min-width: 992px) and (max-width :1199px) { 
    /* header start  */
    
    #header img {
        width: 100%;
    }
    .nav-tabs{
        border-bottom: none;
        padding: 10px 25px 10px;
        margin-left: 0;
        padding-right: 0;
    }
    #header .col-sm-7 {
        padding: 0;
    }
    #header .col-sm-7 .nav-tabs {
        padding: 10px 0px 10px;
    }
    #header .col-sm-4:last-child {
        padding-left: 0;
        padding-right: 0;
    }
    #header .col-sm-8 ul.nav.nav-tabs {
        margin-left: 5%;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    #header .col-sm-2:last-child {
        line-height: 4;
        padding-left: 0;
    }
    #header .col-sm-4:last-child a{
        padding-left: 5px;
        padding-right: 5px;
    }
    #header .col-sm-4:last-child a i{
        font-size: 1.2rem;
        line-height: 3.5;
    
    }
    #header .col-sm-4:last-child .plr {
        padding: 0 ;
    }
    .navbar.navbar-expand-lg.navbar-light {
        padding: 0;
        margin: 1.9% 0;
    }
    .tel {
        display: inline-block;
        padding-left: 2%;
    }
    #header .col-sm-4 a:last-child {
        text-decoration: none;
        color: rgb(59,59,59);
        letter-spacing: 2px;
        font-size: 1.2rem;
        padding: 0.5rem 0.1rem;
    }
    #header .col-sm-4 .tel a {
        letter-spacing: 1px;
        font-size: 1rem;
        padding: 0.5rem 0.1rem;
    }
    #header .col-sm-4 .list-group{
        padding-right: 0;
        line-height: 5.5;
    }
    #logo {
        line-height: 5;
        display: inline-block;
        padding-left: 15px;
    }
    #header .col-4 {
        line-height: 4.5;
    }
    #header .col-lg-7 {
        padding-right: 0;
    }
    .navbar-expand-lg .navbar-collapse {
        flex: initial;
    }
    .nav-link {
        line-height: 2;
    }
    .navbar .nav .nav-link {
        line-height: 0.5;
    }
    .nav-link {
        color: rgb(59,59,59);
        font-size: 1.3rem;
    }
    
    /* header end  */

    

    /* blog-list start  */

    .blog-list {
        margin-bottom: 0;
        height: auto;
        background-color: #f6f6f6;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .blog-list .row div {
        margin: 0 auto;

    }
    .blog-list .row div h1 {
        font-weight: 200;
        text-transform: uppercase;
        font-size: 3rem;
        letter-spacing: 2px;
    }
    .search-categories {
    width: 28%;
    }
    





    /* blog-list end  */

    /* blog-detail start  */

    .blog-detail .card img {
        width: 100%;
        height: 37%;
    }

    .blog-detail .message ul li {
        padding-right: 1.5%;
    }
    .blog-detail .card-columns .card  {
        width: 100%;
        height: 100%;
    }
    .blog-detail .card-columns .card  > img{
        width: 100%;
        height: 100%;
    }
    .blog-detail .card-columns .first, .blog-detail .card-columns .first img {
        margin-bottom: 0.7rem;
    }
    .blog-detail .card-columns .third, .blog-detail .card-columns .third img {
        margin-bottom: 0.7rem;
    }



    /* blog-detail end  */

    /* search-bar start  */

    .category {
        width: 53%;
    }
    .category li:first-child {
        width: 80%;
    }
    .category li:last-child {
        width: 20%;
    }









   /* search-bar end  */

    /* leave_comment start  */

    .blog-detail .card-inside {
        top: 3%;
    }
    .comments .col-md-11 {
        padding-left: 1%;
    }





    /* leave_comment end  */
    

 }


@media (min-width: 1200px) { 
   
    
    
    /* header start */
    #header .col-lg-7 {
        padding-right: 0;
    }
    #header .col-lg1 {
        padding-left: 0;
        padding-right: 0;
    }
    #header .col-sm-4:last-child {
        padding-left: 0;
        padding-right: 0;
    }
    #header img {
        width: 100%;
    }
    
    .navbar.navbar-expand-lg.navbar-light {
        padding: 0;
        margin: 3% 0;
    }
    #header .col-sm-4 ul.nav.nav-tabs {
        margin-left: 0;
        margin-right: 0;
        border-bottom: none;
    }
    #header .col-sm-4 .list-group {
        width: 100%;
        line-height: 9;
        padding-right: 0;
        margin-left: 0;
    }
    #header .col-sm-4 .list-group a {
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none;
    color: rgb(59,59,59);
    letter-spacing: 2px;
    font-size: 0.2rem;
    padding: 0.5rem 0.3rem;
    }
    #header .col-sm-4:last-child a i {
        font-size: 1.3rem;
    }
    #header .col-sm-4:first-child a:last-child {
        text-decoration: none;
        color: rgb(75,75,75);
        letter-spacing: 2px;
        font-size: 1.2rem;
    }
    
    .card.text-white-d h4 {
        margin-bottom: 0;
    }
    .tel {
        display: inline-block;
        line-height: 5;
        padding-left: 5%;

    }
    #logo {
        line-height: 4;
        display: inline-block;
        padding-left: 15px;
    }
    .navbar-expand-lg .navbar-collapse {
        flex: initial;
    }


    #header .col-sm-7 ul .one, .two, .three {
        width: auto;
    }
    #header .col-sm-7 ul .four, .five, .six {
        width: auto;
    }
   
    .icon_shopping {
        left: 15%;
        line-height: 2.5;
        font-size: 1.5rem;
    }


    /* header end  */
    
    /* blog-list start  */
    .blog-list {
        margin-bottom: 0;
        height: auto;
        background-color: #f6f6f6;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .blog-list .row div {
        margin: 0 auto;

    }
    .blog-list .row div h1 {
        font-weight: 200;
        text-transform: uppercase;
        font-size: 3rem;
        letter-spacing: 2px;
    }
    



    /* blog-list end  */

   /* search-bar start  */

    









   /* search-bar end  */
   .comments ul img {
       width: 65px;
       height: 65px;
   }

   /* leave_comment start  */
   .blog-detail .card-inside {
        position: absolute;
        left: 0%;
        top: 4%;
        width: 100%;
        padding: 0 5%;
    }





   /* leave_comment end  */
    #footer .support p {
        letter-spacing: 0.5px;
    }


    #footer .contact .col-sm-7 li:first-child {
        padding: 15px;
    }
    #footer .contact .col-sm-7 li {
        font-size: 0.8rem;
        color: rgb(134,134,134);
        padding-top: 0;
        padding-bottom: 0;
    }
    .justify-content-between {
        display: block;
    }

   
 }
 