
#mystyle #header-top {
    background-color: #282828;
}

#header-top #mystyle .col-sm-6 .list-group-horizontal-sm .list-group-item:first-child {
    background-color: #3F3E43;
    border-radius: 0;
}

#mystyle .col-sm-6 .list-group-horizontal-sm .list-group-item.list-group-item {
    background-color: #282828;
    border-radius: 0;
}

body .list-group-item a {
    color: #a1a1a1;
}

.fas.fa-phone-alt {
    color: #a1a1a1;
}

#mystyle > .container {
    padding: 0;
}
body #header-top .container .row div .col-sm-6 {
    padding: 0;
}

.icon_shopping{
    left: 5px;
    top: 5px;
}
.col li {
    list-style-type: none;
    border: none;
}

.col li a {
    text-decoration-line: none;
}

.col .navbar-nav  .nav-item {
    padding: 0 15px;
}

.form-inline {
    width: 100px;
}
.form-inline .form-control.mr-sm-2{
    width: 100px;
}
.brands  li{
    list-style-type: none;
}

body .list-group-item {
    border: none;
    list-style-type: none;
}
body .list-group-item a {
    text-decoration: none;
}
.navbar {
    margin:0;
}






@media (min-width: 576px) {
    .container{
        max-width: 540px;
    }

}

@media (min-width: 768px) {
    

  
}

@media (min-width: 992px) {
   

  
}

@media (min-width: 1200px) {


  
}

