
.btn {
    border-radius: 0;
    width: 92px;
    height: 24px;
    padding: 5px;
    font-size: 10px;
    line-height: 1;
}
/* header-top start */

#header-top {
    background-color: #282828;
}

#header-top #mystyle .col-sm-12 .list-group-horizontal-sm .list-group-item.bg-gray {
    padding: 6px 10px;
    line-height: 2;
    background-color: #3F3E43;
    border-radius: 0;
    font-size: 2px;
    letter-spacing: 1px;
}


#mystyle .col-sm-12 .list-group-horizontal-sm .list-group-item.list-group-item {
    padding: 6px 10px;
    line-height: 2;
    background-color: #282828;
    border-radius: 0;
    font-size: 2px;
    letter-spacing: 1px;
}
.container{
    padding: 0;
}
.col-sm12, .col-md-6, .col-lg-6, .col-xl-6 {
    padding: 0;
}
#header-top .col-sm-12 ul:first-child {
    padding-left: 20%;
}

#header .list-group-item {
    padding: 0;
}

body .list-group-item a {
    color: #a1a1a1;
}
#header-top .col-md-6 ul.list-group {
    padding: 0;
}

.fas.fa-phone-alt {
    color: #a1a1a1;
}

.far.fa-envelope {
    color: #a1a1a1;
}

#header-top #mystyle .container {
    
    padding: 0;
}

body #header-top .container .row div .col-sm-6 {
    padding: 0;
}

.icon_shopping{
    left: 5px;
    top: 5px;
}
.col li {
    list-style-type: none;
    border: none;
}

.col li a {
    text-decoration-line: none;
}

.col .navbar-nav  .nav-item {
    padding: 0 15px;
}

.form-inline {
    width: 100px;
}
.form-inline .form-control.mr-sm-2{
    width: 100px;
}
.brands  li{
    list-style-type: none;
}

body .list-group-item {
    border: none;
    list-style-type: none;
}
body .list-group-item a {
    text-decoration: none;
}
.navbar {
    margin:0;
}



@media (min-width: 576px) { 
    
}


@media (min-width: 768px) { 

    
 }


@media (min-width: 992px) { 
    
 }


@media (min-width: 1200px) { 
    
 }
 /* header-top end  */



 /* header start  */
 .container-sm, .container-md, .container-lg, .container-xl {
     margin: 15px auto;
 }

 #header .col-sm-2 #logo {
    padding-left: 0%;
    line-height: 4;
}

.col-sm-7 .navbar {
    line-height: 2;
}

#header .fas.fa-search {
    line-height: 3;
    padding-left: 30px;
 }



 .col-sm-2, .col-sm-7, .col-sm-12, .col-md-3, .col-lg-2, .col-xl-2,
 .col-sm-8, .col-md-2,.col-md-10,.col-md-12, .col-lg-8, .col-xl-8{
     padding: 0;

 }
 .col-sm-12 {
     margin: 0 auto;
 }

 #header .col-sm-12:first-child a {
     padding: 0 38.2%;
     
 }

 #header .col-sm-12 ul  a {
     padding: 0 10px;
 }
 
 

 .collapse:not(.show) {
     display: inline-block;
 }

 .nav-item.position-absolute {
     top: 39%;
     right: 0%;
 }

 .navbar.navbar-expand-lg.navbar-light{
     padding: 0;
 }

 .collapse.navbar-collapse {
     padding-left: 0;
 }

 .nav-tabs{
     border-bottom: none;
     padding: 10px 25px 10px;
 }

 

.col-sm-12 #logo {
    margin-top: 10px;
}
.nav-link {
    color: #444242;
}

.icon_shopping {
    left: 23%;
    line-height: 2;
    font-size: 2rem;
}

.list-group {
    padding-left: 40%;
}
.price-item {
    padding-left: 40%;
    font-size: small;
    
}

#header .list-group-item > ul .list-group-item {
    padding: 0 20px;
}
.item {
    padding-right: 20px;
}

#header .col-sm-12:first-child a {
    padding: 0;
}


.col-md-10 .nav-tabs {
    padding: 0;
}

.list-group.shopping-cart {
    margin-top: 10px;
}

/* sales-a  */
.sales-a .card.text-white-a, 
.sales-a .card.text-white-b,
.sales-a .card.text-white-c,
.sales-a .card.text-white-d {
    border: 0;
    border-radius: 0rem;
    color: rgb(255,255,255);
}
.sales-a .card.text-white-b {
    padding: 1px;
}
.sales-a {
    margin-bottom: 30px;
}

.sales-a .card-img-overlay.newCollection {
    padding: 0;
    padding-left: 70px;
    padding-top: 240px;
}

.newCollection .card-title {
    width: 287px;
    height: 29px;
    background-color: #535353;
    margin: 0;
    padding: 5px 10px 17px;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.7;
}

.newCollection .new {
    padding-left: 10px;
    padding-top: 5px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: rgb(255,255,255);
}
.newCollection .collection {
    padding-left: 10px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: rgb(255,255,255);
}

.newCollection .card-text-1 {
    
    width: 300px;
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 5px;
    
}
.newCollection .card-text-2 {
    width: 350px;
    margin: 0;
    padding-left: 10px;
    padding-top: 0px;
    font-size: 5px;
    
}
.newCollection .price {
    padding-left: 10px;
    padding-top: 10px;
    width: 100px;
    font-weight: 700;
}

.card-img-overlay.sales .card-title{
    width: 200px;
    height: 10px;
    margin: 0;
    padding: 5px 10px 17px;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 2.5px;
    
}
.sales h3 {
    width: 200;
    margin: 0;
    padding: 5px 10px 17px;
    font-size: 1.5em;
    margin-top: 20px;
}
.sales .discount {
    width: 100px;
    height: 100px;
    margin: 0;
    text-align: center;
    line-height: 1;
    background-color: rgb(97,197,211);
    border-radius: 50%;
    bottom: 25%;
    position: absolute;
    right: 20px;
}
.sales .discount p {
    margin: 0;
    padding: 0;
}
.sales .discount p:first-child{
    padding-top: 30%;
    font-size: x-small;
}
.sales .discount p:last-child{
    font-size: 20px;
}
.sales .shop-now {
    position: absolute;
    bottom: 5%;
}
.shop-now .btn{
    padding: 0;
    color: rgb(255,255,255);
    text-decoration: none;
    padding-left: 10px;
}
.shop-now .btn a {
    text-decoration: none;
    color: rgb(255,255,255);
}

.fa-chevron-right {
    padding-left: 10px;
    padding-top: 0px;
    width: 10px;
    height: 10px;
}

.sales-a .card.text-white-c {
    margin-bottom: 45px;
}

.card.text-white-c h4,
.card.text-white-d h4 {
    font-weight: 300;
    line-height: 1.5;
    color: #939393;
    font-size: 22px;
    margin-bottom: 0;
}
.card.text-white-d h4{
    margin-bottom: 13%;
}
.card.text-white-c i,
.card.text-white-d i{
    font-size: 0.5rem;
    color: rgb(200,167,96);
    
}
.card.text-white-c i{
    margin-bottom: 20%;
}
.card.text-white-c i:last-child,
.card.text-white-d i:last-child{
    font-size: 12px;
    color: white;
}

.card.text-white-c p,
.card.text-white-d p{
    color: #939393;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.text-white-d .card-text.one{
    font-size: 12px;
    margin-bottom: 0;
}
.text-white-d .card-text.three{
    font-size: 14px;
    margin-bottom: 0;
}
